@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

a {
    color: #272626;
}

body {
    background: #F0FFFF;
    box-sizing: border-box;
}

/* Cabeçalho da página */
.page-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: #D8BFD8;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    transition: top 0.3s;
}

.page-header img {
    max-height: 50px;
    max-width: 50px;
    height: auto;
    width: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-items li {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: #272626;
    cursor: pointer;
}

/* Conteúdo principal */
.main-content {
    padding: 15rem 0 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-content-left {
    max-width: 640px;
}

.main-content-left h1 {
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #000000;
}

.main-content-left h1:after {
    content: attr(data-text);
    color: darkgreen;
    transform: translateX(-100%);
    position: absolute;
}

.main-content-info {
    padding: 5rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.main-content-info img {
    max-height: 7.8rem;
    width: auto;
}

/* Seções sobre o projeto */
.about-content,
.app-content {
    padding: 7.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-content img,
.app-content img {
    margin: 2rem;
}

.about-igarden,
.app-igarden {
    max-width: 700px;
    padding: 1rem;
    align-self: center;
}

.about-igarden h3,
.app-igarden h3,
.team-content h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #000000;
    padding-bottom: 2rem;
}

.about-igarden p,
.app-igarden p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
    line-height: 1.5;
}

.about-igarden p strong,
.app-igarden p strong {
    font-weight: 700;
    color: darkgreen;
}


.team-content h3 {
    text-align: center;
}

.team-cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width: 90%;
}

.team-igarden {
    width: 250px;
    display: flex;
    flex-flow: column wrap;
    background-color: #FFFFFF;
    border: #AEEFD2;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    align-self: stretch;
}

.team-igarden img {
    padding-top: 2rem;
    align-self: center;
}

.team-igarden h3 {
    padding: 1rem;
    color: darkgreen;
}

.team-igarden p {
    padding: 1rem 1rem 2rem;
    width: 180px;
    margin: 0 auto;
    text-align: center;
}

/* Rodapé da página */
.page-footer {
    display: block;
    margin: 0 auto;
    padding: 3rem 0;
}

.page-footer p {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 1rem;
    color: #000000;
}